# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
vcpkg_installed
.cache/clangd/index/clone_gadget.cpp.B1F59B8BEF365344.idx
.cache/clangd/index/clone_gadget.h.2EC393AD61CB9CEF.idx
.cache/clangd/index/refs.cpp.B26F2EAD49838837.idx
.cache/clangd/index/refs.h.7915C6FDB989B873.idx
.cache/clangd/index/Server.cpp.180904343722969F.idx
.cache/clangd/index/test_apply_delta.cpp.B1CC96FC2196E6CA.idx
simplegit-test2/lib/simplegit.rb
simplegit-test2/README
simplegit-test2/Rakefile
zlib_tutorial_for_beginners.md
VSCode预览编辑器快捷键配置.md
socket概念解释.md
inet_pton解释.md
Git网络协议学习指南.md
curl库最简用法教程.md
compress_function_guide.md
clone_debug.log
面试难点准备.md
底层原理与八股文关联分析.md
