# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build
vcpkg_installed
.cache/clangd/index/commands.cpp.FB8A3883E4EA936F.idx
.cache/clangd/index/commands.h.C7BDAD5FAF82D2C6.idx
.cache/clangd/index/debug.h.E702FAC62BD2BA2E.idx
.cache/clangd/index/git_clone.cpp.7225A97D2432C911.idx
.cache/clangd/index/main.cpp.3FEA487250DC0533.idx
src/cpp/include
reactive_resume-cmi781t6f0czbsp4vrsssxula.json
.cache/clangd/index/git_clone.h.94B0E90F59AC3A65.idx
recycle_bin/src_commands.cpp
recycle_bin/src_commands.h_duplicate
recycle_bin/src_cpp_include_commands.h
recycle_bin/src_cpp_include_commands.h_duplicate
recycle_bin/src_cpp_include_debug.h
recycle_bin/src_cpp_include_debug.h_duplicate
recycle_bin/src_cpp_include_git_clone.h
recycle_bin/src_cpp_include_git_clone.h_duplicate
recycle_bin/src_test_test.go
recycle_bin/src_go-modules/go.sum
.gitignore
.gitignore
